In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# khoa_buoy_test : 수정 완료

In [2]:
khoa_buoy_test = pd.read_csv("../data/weather_data/processed/khoa_buoy_test(수정).csv",encoding='cp949').drop('Unnamed: 0',axis=1)
print(khoa_buoy_test.shape)
khoa_buoy_test.head()

(464832, 5)

             시간        지점명     유속  유향    우행
0  202207010000  SongJeong  102.7  NE  52.0
1  202207010005  SongJeong  101.6  NE  52.0
2  202207010010  SongJeong   98.9  NE  51.0
3  202207010015  SongJeong   98.3  NE  53.0
4  202207010020  SongJeong   96.3  NE  53.0

In [3]:
khoa_buoy_test['유향'].unique()

array(['NE', '-99.9', 'ENE', 'NNE', 'N', 'NNW', 'WSW', 'NW', 'W', 'WNW',
       'SW', 'SSE', 'SE', 'S', 'E', 'ESE', 'SSW'], dtype=object)

In [4]:
khoa_buoy_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464832 entries, 0 to 464831
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   시간      464832 non-null  int64
 1   지점명     464832 non-null  object
 2   유속      464832 non-null  float64
 3   유향      464832 non-null  object
 4   우행      464832 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 17.7+ MB

In [5]:
khoa_buoy_test.describe()

                 시간             유속             우행
count  4.648320e+05  464832.000000  464832.000000
mean   2.022389e+11      -0.463587     108.367131
std    4.299984e+07      48.590187     128.759386
min    2.022070e+11     -99.900000     -99.900000
25%    2.022091e+11       3.900000      45.000000
50%    2.022111e+11      12.200000      97.000000
75%    2.023012e+11      23.000000     230.000000
max    2.023033e+11     160.700000     376.000000

In [6]:
np.sum(khoa_buoy_test['우행']>360)

250

In [7]:
khoa_buoy_test[khoa_buoy_test['우행']>360]['우행'].unique()

array([362., 366., 365., 361., 367., 368., 364., 369., 376., 363., 370.])

이상치 = 유속 : -99.900000	우행 :-99.900000

In [8]:
khoa_buoy_test['지점명'].unique()

array(['SongJeong', 'Haeundae'], dtype=object)

## 중복확인

In [9]:
khoa_buoy_test[khoa_buoy_test.duplicated()==True].count()

시간     0
지점명    0
유속     0
유향     0
우행     0
dtype: int64

## 시간데이터프레임

In [10]:
khoa_buoy_test['시간']=pd.to_datetime(khoa_buoy_test['시간'], format='%Y%m%d%H%M')
khoa_buoy_test['시간']

0        2022-07-01 00:00:00
1        2022-07-01 00:05:00
2        2022-07-01 00:10:00
3        2022-07-01 00:15:00
4        2022-07-01 00:20:00
                 ...
464827   2023-03-26 23:55:00
464828   2023-03-26 23:56:00
464829   2023-03-26 23:57:00
464830   2023-03-26 23:58:00
464831   2023-03-26 23:59:00
Name: 시간, Length: 464832, dtype: datetime64[ns]

## 지점분리

In [11]:
khoa_buoy_test_SongJeong = khoa_buoy_test[khoa_buoy_test['지점명']=='SongJeong']

In [12]:
khoa_buoy_test_Haeundae =khoa_buoy_test[khoa_buoy_test['지점명']=='Haeundae'].reset_index(drop=True)

In [13]:
khoa_buoy_test_SongJeong

                        시간        지점명     유속  유향    우행
0      2022-07-01 00:00:00  SongJeong  102.7  NE  52.0
1      2022-07-01 00:05:00  SongJeong  101.6  NE  52.0
2      2022-07-01 00:10:00  SongJeong   98.9  NE  51.0
3      2022-07-01 00:15:00  SongJeong   98.3  NE  53.0
4      2022-07-01 00:20:00  SongJeong   96.3  NE  53.0
...                    ...        ...    ...  ..   ...
342427 2023-03-26 23:35:00  SongJeong   16.0  NE  35.0
342428 2023-03-26 23:40:00  SongJeong   20.0  NE  44.0
342429 2023-03-26 23:45:00  SongJeong   23.9  NE  52.0
342430 2023-03-26 23:50:00  SongJeong   24.7  NE  48.0
342431 2023-03-26 23:55:00  SongJeong   21.9  NE  47.0

[77472 rows x 5 columns]

In [14]:
khoa_buoy_test_Haeundae

                        시간       지점명    유속     유향     우행
0      2022-07-01 00:00:00  Haeundae  32.7      E   86.0
1      2022-07-01 00:01:00  Haeundae -99.9  -99.9  -99.9
2      2022-07-01 00:02:00  Haeundae  37.0      E   86.0
3      2022-07-01 00:03:00  Haeundae  36.5      E   88.0
4      2022-07-01 00:04:00  Haeundae  36.9      E   88.0
...                    ...       ...   ...    ...    ...
387355 2023-03-26 23:55:00  Haeundae -99.9  -99.9  -99.9
387356 2023-03-26 23:56:00  Haeundae  23.6     SE  146.0
387357 2023-03-26 23:57:00  Haeundae  23.2     SE  143.0
387358 2023-03-26 23:58:00  Haeundae  23.4     SE  145.0
387359 2023-03-26 23:59:00  Haeundae  23.9     SE  143.0

[387360 rows x 5 columns]

## 시간 결측치 확인

### 지점간 시간 결측치 확인

- 해운대 : 1분단위 , 시간 결측치 없음

In [15]:
time = pd.date_range(start='2022-07-01 00:00:00', end='2023-03-26 23:59:00', freq='1min')
time_range = pd.DataFrame(time, columns=['시간'])
print(khoa_buoy_test_Haeundae['시간'].count())
print(np.sum(time_range.isin(khoa_buoy_test_Haeundae['시간'])))

387360
시간    387360
dtype: int64

- 송정 : 5분단위 , 시간 결측치 없음

In [16]:
khoa_buoy_test_SongJeong= khoa_buoy_test_SongJeong.reset_index(drop=True)

In [17]:
time = pd.date_range(start='2022-07-01 00:00:00', end='2023-03-26 23:55:00', freq='5min')
time_range = pd.DataFrame(time, columns=['시간'])
print(khoa_buoy_test_SongJeong['시간'].count())
print(time_range.count())

77472
시간    77472
dtype: int64

## 시간 - 시간과 날짜 분리

In [18]:
#df.insert(위치, 열이름, 값)

In [19]:
khoa_buoy_test_SongJeong['날짜_시간']=khoa_buoy_test_SongJeong['시간']

In [20]:
khoa_buoy_test_SongJeong['날짜']=khoa_buoy_test_SongJeong['날짜_시간'].apply(lambda x : str(x).split()[0])
khoa_buoy_test_SongJeong['시간']=khoa_buoy_test_SongJeong['날짜_시간'].apply(lambda x : str(x).split()[1])
khoa_buoy_test_SongJeong = khoa_buoy_test_SongJeong[['날짜_시간','날짜', '시간', '지점명', '유속', '유향', '우행']]

In [21]:
khoa_buoy_test_Haeundae['날짜_시간']=khoa_buoy_test_Haeundae['시간']
khoa_buoy_test_Haeundae['날짜']=khoa_buoy_test_Haeundae['날짜_시간'].apply(lambda x : str(x).split()[0])
khoa_buoy_test_Haeundae['시간']=khoa_buoy_test_Haeundae['날짜_시간'].apply(lambda x : str(x).split()[1])
khoa_buoy_test_Haeundae = khoa_buoy_test_Haeundae[['날짜_시간','날짜', '시간', '지점명', '유속', '유향', '우행']]

## 이상치 확인

In [22]:
outlier = khoa_buoy_test[(khoa_buoy_test == -99) | (khoa_buoy_test == -99.9) | (khoa_buoy_test == -999) | (khoa_buoy_test == '-99') | (khoa_buoy_test == '-99.9') | (khoa_buoy_test == '-999')].dropna(how='all')
outlier.count()

시간         0
지점명        0
유속     80714
유향     80694
우행     80694
dtype: int64

In [23]:
outlier = khoa_buoy_test_SongJeong[(khoa_buoy_test_SongJeong == -99) | (khoa_buoy_test_SongJeong == -99.9) | (khoa_buoy_test_SongJeong == -999) | (khoa_buoy_test_SongJeong == '-99') | (khoa_buoy_test_SongJeong == '-99.9') | (khoa_buoy_test_SongJeong == '-999')].dropna(how='all')
outlier.count()

날짜_시간       0
날짜          0
시간          0
지점명         0
유속       3119
유향       3117
우행       3117
dtype: int64

In [65]:
outlier = khoa_buoy_test_Haeundae[(khoa_buoy_test_Haeundae == -99) | (khoa_buoy_test_Haeundae == -99.9) | (khoa_buoy_test_Haeundae == -999) | (khoa_buoy_test_Haeundae == '-99') | (khoa_buoy_test_Haeundae == '-99.9') | (khoa_buoy_test_Haeundae == '-999')].dropna(how='all')
outlier.count()

날짜_시간        0
날짜           0
시간           0
지점명          0
유속       77595
유향       77577
우행       77577
dtype: int64

In [60]:
print(np.sum(khoa_buoy_test_SongJeong['유속']==-99.9))
print(np.sum(khoa_buoy_test_SongJeong['유향']==-99.9))
print(np.sum(khoa_buoy_test_SongJeong['우행']==-99.9))

3119
0
3117

In [25]:
khoa_buoy_test_SongJeong[khoa_buoy_test_SongJeong['유속']!=-99.9].describe()

                 유속            우행
count  74353.000000  74353.000000
mean      40.219082    119.747408
std       27.004516     95.853040
min        0.000000      0.000000
25%       17.400000     47.000000
50%       35.800000     59.000000
75%       59.000000    220.000000
max      149.800000    376.000000

In [26]:
print(np.sum(khoa_buoy_test_Haeundae['유속']==-99.9))
print(np.sum(khoa_buoy_test_Haeundae['유속']==-99.9))
print(np.sum(khoa_buoy_test_Haeundae['우행']==-99.9))

77595
77595
77577

In [27]:
khoa_buoy_test_Haeundae[khoa_buoy_test_Haeundae['유속']!=-99.9].describe()

                  유속             우행
count  309765.000000  309765.000000
mean       15.681014     159.885700
std        11.558005      93.206462
min         0.000000       0.000000
25%         7.100000      90.000000
50%        13.600000     115.000000
75%        21.600000     255.000000
max       160.700000     370.000000

## NA 확인

In [28]:
np.sum(khoa_buoy_test.isna())

시간     0
지점명    0
유속     0
유향     0
우행     0
dtype: int64

## 컬럼별 최대/최소값

In [29]:
khoa_buoy_test.groupby('지점명')[['시간', '지점명', '유속', '유향', '우행']].agg([min, max])

                  시간                            지점명               유속         \
                 min                 max        min        max   min    max
지점명
Haeundae  2022-07-01 2023-03-26 23:59:00   Haeundae   Haeundae -99.9  160.7
SongJeong 2022-07-01 2023-03-26 23:55:00  SongJeong  SongJeong -99.9  149.8

              유향         우행
             min  max   min    max
지점명
Haeundae   -99.9  WSW -99.9  370.0
SongJeong  -99.9  WSW -99.9  376.0

## 파일 저장

In [30]:
khoa_buoy_test_SongJeong.to_csv("../data/weather_data/preprocessed_data/khoa_buoy_test_SongJeong.csv",encoding='cp949')

In [31]:
khoa_buoy_test_Haeundae.to_csv("../data/weather_data/preprocessed_data/khoa_buoy_test_Haeundae.csv",encoding='cp949')

# Khoah_buoy_train

In [32]:
import pandas as pd

In [33]:
khoa_buoy_train = pd.read_csv("../data/weather_data/processed/khoa_buoy_train(수정).csv",encoding='cp949').drop('Unnamed: 0',axis=1)
print(khoa_buoy_train.shape)
khoa_buoy_train.head()

(943488, 5)

             시간        지점명    유속  유향    우행
0  202101010000  SongJeong  45.3  NE  49.0
1  202101010005  SongJeong  43.0  NE  48.0
2  202101010010  SongJeong  45.0  NE  50.0
3  202101010015  SongJeong  44.8  NE  48.0
4  202101010020  SongJeong  43.2  NE  49.0

In [34]:
khoa_buoy_train['지점명'].unique()

array(['SongJeong', 'Haeundae'], dtype=object)

In [35]:
khoa_buoy_train.describe()

                 시간             유속             우행
count  9.434880e+05  943488.000000  943488.000000
mean   2.021388e+11      12.999276     139.746979
std    4.575184e+07      31.256048     109.949551
min    2.021010e+11     -99.900000     -99.900000
25%    2.021052e+11       6.700000      74.000000
50%    2.021097e+11      14.500000      98.000000
75%    2.022021e+11      25.000000     254.000000
max    2.022063e+11     190.200000     360.000000

## 중복확인

In [36]:
import numpy as np

In [37]:
np.sum(khoa_buoy_train.duplicated()) #중복없음

0

## 시간 데이터프레임

In [38]:
khoa_buoy_train['시간']= pd.to_datetime(khoa_buoy_train['시간'], format='%Y%m%d%H%M')

## 지점분리

In [39]:
khoa_buoy_train['지점명'].unique()

array(['SongJeong', 'Haeundae'], dtype=object)

In [40]:
khoa_buoy_train_SongJeong = khoa_buoy_train[khoa_buoy_train['지점명']=='SongJeong']
khoa_buoy_train_Haeundae = khoa_buoy_train[khoa_buoy_train['지점명']=='Haeundae']

In [41]:
khoa_buoy_train_SongJeong= khoa_buoy_train_SongJeong.reset_index(drop=True)

In [42]:
khoa_buoy_train_Haeundae= khoa_buoy_train_Haeundae.reset_index(drop=True)

## 시간 결측치 확인

- 해운대 결측치 없음

In [43]:
khoa_buoy_train_Haeundae

                        시간       지점명    유속 유향    우행
0      2021-01-01 00:00:00  Haeundae  28.2  E  90.0
1      2021-01-01 00:01:00  Haeundae  26.8  E  89.0
2      2021-01-01 00:02:00  Haeundae  26.0  E  80.0
3      2021-01-01 00:03:00  Haeundae  24.7  E  93.0
4      2021-01-01 00:04:00  Haeundae  25.6  E  94.0
...                    ...       ...   ... ..   ...
786235 2022-06-30 23:55:00  Haeundae  32.3  E  90.0
786236 2022-06-30 23:56:00  Haeundae  32.3  E  89.0
786237 2022-06-30 23:57:00  Haeundae  31.4  E  86.0
786238 2022-06-30 23:58:00  Haeundae  31.7  E  90.0
786239 2022-06-30 23:59:00  Haeundae  35.0  E  87.0

[786240 rows x 5 columns]

In [44]:
time = pd.date_range(start='2021-01-01 00:00:00',end='2022-06-30 23:59:00', freq='1min')

In [45]:
print(len(time))
print(len(khoa_buoy_train_Haeundae)) #결측치 없음

786240
786240

- 송정 결측치 없음

In [46]:
khoa_buoy_train_SongJeong

                        시간        지점명     유속  유향    우행
0      2021-01-01 00:00:00  SongJeong   45.3  NE  49.0
1      2021-01-01 00:05:00  SongJeong   43.0  NE  48.0
2      2021-01-01 00:10:00  SongJeong   45.0  NE  50.0
3      2021-01-01 00:15:00  SongJeong   44.8  NE  48.0
4      2021-01-01 00:20:00  SongJeong   43.2  NE  49.0
...                    ...        ...    ...  ..   ...
157243 2022-06-30 23:35:00  SongJeong  107.2  NE  46.0
157244 2022-06-30 23:40:00  SongJeong  109.1  NE  45.0
157245 2022-06-30 23:45:00  SongJeong  103.9  NE  48.0
157246 2022-06-30 23:50:00  SongJeong  107.9  NE  50.0
157247 2022-06-30 23:55:00  SongJeong  104.2  NE  50.0

[157248 rows x 5 columns]

In [47]:
time = pd.date_range(start='2021-01-01 00:00:00' ,end='2022-06-30 23:55:00',freq='5min')

In [48]:
print(len(time))
print(len(khoa_buoy_train_SongJeong))

157248
157248

## 날짜와 시간분리

In [49]:
khoa_buoy_train_SongJeong['날짜_시간'] = khoa_buoy_train_SongJeong['시간']
khoa_buoy_train_SongJeong['날짜']= khoa_buoy_train_SongJeong['날짜_시간'].apply(lambda x: str(x).split()[0])
khoa_buoy_train_SongJeong['시간']= khoa_buoy_train_SongJeong['날짜_시간'].apply(lambda x: str(x).split()[1])
khoa_buoy_train_SongJeong=khoa_buoy_train_SongJeong[['날짜_시간', '날짜','시간', '지점명', '유속', '유향', '우행']]

In [50]:
khoa_buoy_train_Haeundae['날짜_시간'] = khoa_buoy_train_Haeundae['시간']
khoa_buoy_train_Haeundae['날짜']= khoa_buoy_train_Haeundae['날짜_시간'].apply(lambda x: str(x).split()[0])
khoa_buoy_train_Haeundae['시간']= khoa_buoy_train_Haeundae['날짜_시간'].apply(lambda x: str(x).split()[1])
khoa_buoy_train_Haeundae=khoa_buoy_train_Haeundae[['날짜_시간', '날짜','시간', '지점명', '유속', '유향', '우행']]

## 이상치 확인

In [51]:
outlier = khoa_buoy_train[(khoa_buoy_train == -99) | (khoa_buoy_train == -99.9) | (khoa_buoy_train == -999) | (khoa_buoy_train== '-99') | (khoa_buoy_train == '-99.9') | (khoa_buoy_train == '-999')].dropna(how='all')
outlier.count()

시간         0
지점명        0
유속     50730
유향     50664
우행     50664
dtype: int64

In [59]:
outlier = khoa_buoy_train_SongJeong[(khoa_buoy_train_SongJeong == -99) | (khoa_buoy_train_SongJeong == -99.9) | (khoa_buoy_train_SongJeong == -999) | (khoa_buoy_train_SongJeong== '-99') | (khoa_buoy_train_SongJeong == '-99.9') | (khoa_buoy_train_SongJeong == '-999')].dropna(how='all')
outlier.count()

날짜_시간       0
날짜          0
시간          0
지점명         0
유속       7910
유향       7884
우행       7884
dtype: int64

In [64]:
outlier = khoa_buoy_train_Haeundae[(khoa_buoy_train_Haeundae == -99) | (khoa_buoy_train_Haeundae == -99.9) | (khoa_buoy_train_Haeundae == -999) | (khoa_buoy_train_Haeundae== '-99') | (khoa_buoy_train_Haeundae == '-99.9') | (khoa_buoy_train_Haeundae == '-999')].dropna(how='all')
outlier.count()

날짜_시간        0
날짜           0
시간           0
지점명          0
유속       42820
유향       42780
우행       42780
dtype: int64

In [52]:
print(np.sum(khoa_buoy_train_SongJeong['유속']==-99.9))
print(np.sum(khoa_buoy_train_SongJeong['유속']==-99.9))
print(np.sum(khoa_buoy_train_SongJeong['우행']==-99.9))

7910
7910
7884

In [53]:
khoa_buoy_train_SongJeong[khoa_buoy_train_SongJeong['유속']!=-99.9].describe()

                  유속             우행
count  149338.000000  149338.000000
mean       36.788349     123.213422
std        25.091429      98.555878
min         0.000000       0.000000
25%        16.100000      46.000000
50%        32.200000      58.000000
75%        53.100000     221.000000
max       185.800000     360.000000

In [61]:
print(np.sum(khoa_buoy_train_SongJeong['유속']==-99.9))
print(np.sum(khoa_buoy_train_SongJeong['유향']==-99.9))
print(np.sum(khoa_buoy_train_SongJeong['우행']==-99.9))

7910
0
7884

In [55]:
khoa_buoy_train_Haeundae[khoa_buoy_train_Haeundae['유속']!=-99.9].describe()

                  유속             우행
count  743420.000000  743420.000000
mean       15.924632     159.398222
std        11.016193      95.053872
min         0.000000       0.000000
25%         7.100000      86.000000
50%        13.900000     105.000000
75%        22.500000     260.000000
max       190.200000     360.000000

## NA 확인

In [56]:
np.sum(khoa_buoy_train.isna())

시간     0
지점명    0
유속     0
유향     0
우행     0
dtype: int64

## 컬럼별 최대/최소값

In [57]:
khoa_buoy_train.groupby('지점명')[['시간', '지점명', '유속', '유향', '우행']].agg([min, max])

                  시간                            지점명               유속         \
                 min                 max        min        max   min    max
지점명
Haeundae  2021-01-01 2022-06-30 23:59:00   Haeundae   Haeundae -99.9  190.2
SongJeong 2021-01-01 2022-06-30 23:55:00  SongJeong  SongJeong -99.9  185.8

              유향         우행
             min  max   min    max
지점명
Haeundae   -99.9  WSW -99.9  360.0
SongJeong  -99.9  WSW -99.9  360.0

## 저장

In [58]:
## 이상치 확인

outlier = khoa_buoy_test[(khoa_buoy_test == -99) | (khoa_buoy_test == -99.9) | (khoa_buoy_test == -999) | (khoa_buoy_test a== '-99') | (khoa_buoy_test == '-99.9') | (khoa_buoy_test == '-999')].dropna(how='all')
outlier.count()

outlier = khoa_buoy_test_SongJeong[(khoa_buoy_test_SongJeong == -99) | (khoa_buoy_test_SongJeong == -99.9) | (khoa_buoy_test_SongJeong == -999) | (khoa_buoy_test_SongJeong == '-99') | (khoa_buoy_test_SongJeong == '-99.9') | (khoa_buoy_test_SongJeong == '-999')].dropna(how='all')
outlier.count()

print(np.sum(khoa_buoy_test_SongJeong['유속']==-99.9))
print(np.sum(khoa_buoy_test_SongJeong['유속']==-99.9))
print(np.sum(khoa_buoy_test_SongJeong['우행']==-99.9))

khoa_buoy_test_SongJeong[khoa_buoy_test_SongJeong['유속']!=-99.9].describe()

print(np.sum(khoa_buoy_test_Haeundae['유속']==-99.9))
print(np.sum(khoa_buoy_test_Haeundae['유속']==-99.9))
print(np.sum(khoa_buoy_test_Haeundae['우행']==-99.9))

khoa_buoy_test_Haeundae[khoa_buoy_test_Haeundae['유속']!=-99.9].describe()

## NA 확인

np.sum(khoa_buoy_test.isna())khoa_buoy_train_SongJeong.to_csv("../data/weather_data/preprocessed_data/khoa_buoy_train_SongJeong.csv", encoding='cp949')
khoa_buoy_train_Haeundae.to_csv("../data/weather_data/preprocessed_data/khoa_buoy_train_Haeundae.csv", encoding='cp949')

SyntaxError: invalid syntax (2535034602.py, line 3)